<div class="container mt-5">
  <form action="/answer">
    <div class="input-group">
      <input type="text" name="question" class="form-control form-control-lg" placeholder="Ask your question...">
      <button class="btn btn-primary" type="submit">Ask!</button>
    </div>
  </form>
</div>
